@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'EarlyFontDiary';
}

p {
    font-size:25pt;
    text-align:center;
}

.follower {
    font-size:20pt;
    text-align:left;
    position:absolute;
    left:0;
    right:0;
    transition: all 0.2 ease-out;
}